

.header {
    width: 100%;
    height: 100px;
    background-color: rgb(69, 101, 181);
    text-align: center;
    line-height: 100px;
    color: aliceblue;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: rgb(69, 101, 181);
    clear: both;
    text-align: center;
    line-height: 100px;
    color: aliceblue;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tabs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgb(132, 109, 214);
    height: 40px;
    color: aliceblue;
}

.tab {
    cursor: pointer;
    padding: 10px;
}

.tab:hover {
    background-color: blueviolet;
}

.wrapper > div {
    background-color: #eee;
    padding: 1em;
}

.wrapper > div:nth-child(odd) {
    background: #ddd;
}

.wrapper {
    display: grid;
    grid-template-columns: 50% 30%;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

